<h1>Welcome to Connections </h1>

<div class="overlay"></div>

<style> 

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .6;
}

html {
    background: url("/connectionsbg.JPG") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


</style>